* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tix;
}


/* fonts  */

@font-face {
    font-family: tix;
    src: url(../fonts/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: tix2;
    src: url(../fonts/Comfortaa-Bold.ttf);
}

/*    fonts        */



