* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tix;
}

body {
    display: flex;
    justify-content: center;
    /* background: rgb(89,215,180); */
    background: linear-gradient(163deg, rgba(89, 215, 180, 1) 35%, rgba(179, 132, 237, 1) 71%);
    /* background-color: #e1e1ed; */
    align-items: center;
    height: 100vh;
}

body {
    background-color: #f6f6f6;
    transition: background-color .3s;
}

body[light-mode=dark] {
    background-color: #141516;
    color: #ced4e2;
}

body[light-mode="dark"] .light-mode-button span:nth-child(1) {
    background-color: #ced4e2;
    color: #141516;
}

body[light-mode=dark] .light-mode-button span:nth-child(2) {
    left: 65px;
    background-color: #141516;
}


/* fonts  */

@font-face {
    font-family: tix;
    src: url(../fonts/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: tix2;
    src: url(../fonts/Comfortaa-Bold.ttf);
}


/*    fonts        */

.icons-link {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.icons {
    margin: 10px;
    padding: 20px 10px;
}

.icons:hover {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }
}

.allDasboard {
    display: flex;
    width: 80%;
    border-radius: 20px;
    background-color: #ecedf7;
    /* height: 70%; */
}


/* .darkMode{
    text-decoration: none;
    color: black;
} */

.glass {
    margin: 30px;
    background: #f2f2fc;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 15.0px);
    -webkit-backdrop-filter: blur( 15.0px);
    border-radius: 10px;
    width: 90%;
}

.Box-icnos {
    background-color: #fefffe;
    text-decoration: none;
    color: black;
    margin: 0 10px;
    padding: 30px;
    border-radius: 20px;
}

.Box-icnos1 {
    background-color: #fefffe;
    height: 5em;
    width: 9em;
    padding: 10px;
    font-size: 15px;
}

.box-link {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.headText {
    font-family: tix2 !important;
    padding: 15px;
}

.aboutProgrammer {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.text-about,
.aboutProgrammer>span {
    padding: 10px;
    font-size: 15px;
}

.aboutProgrammer>span {
    font-size: 20px;
    font-weight: bold;
}

.boxfind {
    display: flex;
    justify-content: space-around;
}

.prof {
    border-radius: 25px;
    margin-bottom: 20px;
}

.textFD .linkFD {
    margin-top: 20px;
}

.linkFD {
    text-decoration: none;
    color: black;
    padding: 2px;
}

.linkFD:hover {
    background-color: black;
    color: whitesmoke;
    transition: 1ms;
    height: 35px;
    border-radius: 5px;
}