* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: fnt;
}

@font-face {
    font-family: "fnt";
    src: url("../fonts/Comfortaa-SemiBold.ttf");
}

@font-face {
    font-family: "bold-fnt";
    src: url("../fonts/Comfortaa-SemiBold.ttf");
}

.container {
    height: 101vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(163deg, rgba(89, 215, 180, 1) 35%, rgba(179, 132, 237, 1) 71%);
}

#nav-login a,
#nav-home a,
#nav-all a {
    text-decoration: none;
    color: white
}

.partition {
    width: 33.33333333%;
    height: 50%;
}

.container>div {
    border: 3px solid black;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flip-card-back {
    background-color: white;
}

.flip-div {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    font-size: 1.5em;
}

.flip-div>span:hover {
    transition: 0.7s;
    cursor: pointer;
    transform: scale(1.05);
}

.menu-partition {
    font-size: 2em;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-partition:hover #menu {
    font-size: 3em;
    transition: 1.5s;
}

.menu-partition:hover #nav-home {
    transition: 0.5s;
    opacity: 1;
}

.menu-partition:hover #nav-all {
    transition: 0.5s;
    transition-delay: 0.4s;
    opacity: 1;
}

.menu-partition:hover #nav-login {
    transition: 0.5s;
    transition-delay: 0.8s;
    opacity: 1;
}

.nav {
    z-index: 3;
    position: absolute;
    width: 33.3333333%;
    top: 0;
    text-align: center;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.nav>div {
    height: 33.3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 0;
}

.nav div:hover .nav-title {
    transform: scale(1.1);
    transition: 0.5s;
}

.nav>div:nth-child(1),
.nav>div:nth-child(3) {
    background-color: #b384ed;
}

.nav>div:nth-child(2) {
    background-color: rgba(89, 215, 180, 1);
}

.clock {
    background: linear-gradient(163deg, rgba(89, 215, 180, 1) 35%, rgba(179, 132, 237, 1) 71%);
    border-radius: 50%;
    border: 5px solid currentColor;
    box-shadow: 0px 0px 15px #000000cc;
    height: 80%;
    width: 60%;
    position: relative;
}

.clock .center {
    background: currentColor;
    position: absolute;
    transform-origin: 50% 100%;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    left: calc(50% - 5px);
    top: calc(50% - 5px);
}

.clock .hour {
    background: currentColor;
    position: absolute;
    transform-origin: 50% 100%;
    border-radius: 3px;
    height: 28%;
    width: 6px;
    left: calc(50% - 3px);
    top: 22%;
    transform: rotate(0deg);
}

.clock .minute {
    background: currentColor;
    position: absolute;
    transform-origin: 50% 100%;
    border-radius: 2px;
    height: 40%;
    width: 4px;
    left: calc(50% - 2px);
    top: 10%;
    opacity: 0.9;
    transform: rotate(45deg);
}

.clock .second {
    background: currentColor;
    position: absolute;
    transform-origin: 50% 100%;
    border-radius: 1px;
    height: 40%;
    width: 2px;
    left: calc(50% - 1px);
    opacity: 0.7;
    top: 10%;
    transform: rotate(0deg);
}

.date {
    width: 26px;
    height: 26px;
    position: absolute;
    border: 3px solid rgb(77, 17, 77);
    left: calc(50% + 50px);
    top: calc(50% - 12px);
    font-family: Calibri;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
}

.clock-partition {
    align-items: center;
    background: #b384ed;
    color: rgb(77, 17, 77);
    display: flex;
    justify-content: center;
    z-index: 2;
}

@media (max-width: 900px) {
    .partition,
    .nav {
        width: 50%;
        height: 33.333333%;
    }
    .clock {
        width: 50%;
    }
    .date {
        display: none;
    }
    .container {
        font-size: 0.7em;
    }
}

@media (max-width: 400px) {
    .container>div:nth-child(4) {
        display: none;
    }
    .partition,
    .nav {
        width: 100%;
        height: 20%;
    }
}